---
import Blog from "../../layouts/Blog.astro";
---
<Blog title="The Immorality of Photography" description="It's pretty obvious that photography is an immoral invention." pubDate={new Date("2020-01-01")}>
  <p>
    It's pretty obvious that photography is an immoral invention. It's so obvious that it doesn't actually need to be argued that it is immoral. It just is. However, some people are wrong about this, so here I'll tell them why they're so totally wrong.
  </p>
  <p>
    First off, photography is theft. If I create a great painting or sculpture, someone can come along and steal it with their camera. The Mona Lisa can be viewed by billions of people in representations in magazines. You can view a high resolution scan where you can exactly see every detail in the painting. Everyone now knows exactly what the painting looks like without ever paying the Louvre or any of Da Vinci's descendents, who should rightfully get paid for it. In the past the artist would be getting rich off tickets, but now everyone knows exactly what their work looks like without ever paying a cent.
  </p>
  <p>
    Photography is soulless. With real art - made with clay or a brush - you can look up close and see all the minor imperfections. Every single action that the artist makes requires thought and takes some part of the artist's life experience with it. Maybe they chose that red because it reminded them of something of a sled they had as a kid. A photographer goes to a place, clicks a button and that's it. Where is their input? Nowhere except where they choose to click the button. "Art" can be produced entirely by accident when someone accidentally takes a photo.
  </p>
  <p>
    It steals jobs from previously-prosperous portrait artists and landscape painters. When was the last time you went to an office with paintings of the presidents? Probably never - they're photos. Back in the day, those photos would each have been worked on for days or weeks by an experienced painter, who has now lost his income and been forced to work as a meatpacker or some similarly degrading job.
  </p>
  <p>
    It cheapens the meaning of "art". Now, an amateur can simply go to a beautiful landscape and press the button on their camera and receive a "beautiful" photo. You didn't make that photo. Nature made that photo. A painter would have to work to capture the true beauty and meaning in the landscape, but a "photographer" presses a button and instantly receives the beauty of the landscape, but all it really is is a compressed form of the real world - it's impossible to see the <i>true</i> appearance. Despite this, the photographer still calls himself an artist! Is he an artist? Has he created any art? Evidently not. But still he insists on being called an artist, like he is Michelangelo or Monet. Tell him he isn't and he becomes enraged.
  </p>
  <p>
    That brings us on to the next point - photography can <i>never</i> capture the true appearance of its subject matter. Take a photo of a person with different light and you see a different person. It takes painting or sculpture to capture their true form, the one that anyone can see regardless of lighting.
  </p>
  <p>
    Photography is bad for the environment. Traditionally, clay is grabbed from the riverside and traditional paints are made from organic material. Cameras are invented in a lab and made in a factory. Developing the film involves toxic chemicals in an unhealthy dark room. Clearly this is terrible for nature.
  </p>
  <p>
    It is perfect for speading disinformation and misinformation. Get an actor to dress up as a political candidate and "catch" them doing some immoral act - suddenly because it's a "photo" everyone thinks that it's real. Before photography the only things you could trust were your own eyes. They never lie to you. That actor dressed as a candidate will never fool anyone in reality - you would see right through it. Photography is also used to boost all kinds of crazy political extremists - very worrying.
  </p>
  <p>
    Now, some people may say there is more that photographers do that makes the work they create into true art. They mess around with the colours in the lightroom and stitch them together. Also don't forget the "effort" they have to make with choosing the right scene to take a photo of! But tell me this: someone else can go to the same place and take a photo of the same object and get the same thing - where is the creativity in this?
  </p>
  <p>
    You should now be convinced that the fad of photography is wasteful, immoral, stupid and should probably be banned by the United Nations, unless you're some kind of photobro who is being paid off by Le Prince and his Big Camera cartel.
  </p>
</Blog>


